node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# dotenv
.env
.env.*.local

# Build
dist/
build/

# React Native / Expo
android/
ios/
android/app/build/
ios/Pods/
.expo/
.expo-shared/
*.keystore

# IDEs
.vscode/
.idea/

# macOS / Windows
.DS_Store
Thumbs.db